/* navbar */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
  position: sticky !important;
  z-index: -1 !important;
  top: 0;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.imggDiv img {
  height: 40px;
  width: auto;

}
.imggDiv{
  background-color:#616a16 ;
}
.theHrefs {
  display: flex;
  gap: 15px;
}
.theHrefs a {
  color: #0f1021;
 padding: 0.7rem 1rem;
  text-decoration: none;
  display: block;
}
.theIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.active{
  font-weight: bold;
}


.theLink:hover {
  color: #a01b18;
  font-weight: 500;
  cursor: pointer;
}


.accountSetup{
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  position: absolute;
  width: 300px;
  height: 30vh;
  top: -800px;
  right: 0;
  padding-left: 40px;
  z-index: 10;
}
.accountSetup.display{
  color: red;
  top: 5%;
  transition: all 0.3s ease-in ;
}
/* here */
.faUser:hover .accountSetup {
  display: block !important ;
}

.theLink {
  text-decoration: none;
  color: black;
}


.shopCart{
 color: #616a16;
}


.cartNum {
  background-color: red;
  color: white;
  position: absolute;
}
/* Dvash Drinks Fact styling */
.dvashDrinksFact img {
  height: 20em;
  width: 15em;
  border-radius: 1em;
}
.dvashDrinksFact {
  display: flex;
  margin-bottom: 3em;
 
  /* width: 45%; */
}
.dvashDrinksFact h4 {
  color:#41361a ;
  font-size: 20px;
  padding-bottom: 1em;
}

.dvashDrinksFact span {
  color: #474a4c;
  font-size: 15px;
  font-weight: 600;
}
.dvashDescp {
  width: 20em;
  padding: 2em 1em;
}
.dvashDrinks {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 5em; */
  justify-content: space-evenly;
  /* background-color: rebeccapurple; */
  /* width: 100%; */
}
.dvashDrink h1 {
  padding: 1em 0.5em;
  text-align: center;
  color: #474a4c;
}

/* mediaquery effect */



@media(max-width:768px){
 
  /* .navBar{
display: flex;
flex-direction: column;
  } */
  .theIcons{
     margin-left: 300px;
     
  }


 .faBars{
  color: #616a16;
  display: block !important;
  cursor: pointer;
 }
 .carousel{
  position: relative;
 }
 .carousel img{
  height: 17.5em;
  width: 35em;
  margin-bottom: 550px;
 }
 .arrow{
  margin-top: -30em;
  width: 100px;
  height: 15px;
  /* background-color: #a01b18; */
 }

 .indicators{
  margin-bottom: 35em;
 }
 /* .dvashDrink {
  margin-top: -30em ;
 
 }  */

.navBar{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
/* .tabHref{
 
} */


.faBarsIcon a {
  display: block;
  color: #0f1021;
  margin-left: 2em;
  text-decoration: none;
  padding: 5px;
}

.theHrefs{
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  position: absolute;
  width: 350px;
  height: 60vh;
  top: -800px;
  right: 0;
  z-index: 10;
}
.theHrefs.display{
  top: 5%;
  transition: all 0.3s ease-in ;
}


}

@media(max-width:480px){
.carousel img{
  height: 12.5em;
  width: 25em;
/* margin-top: 0; */
 
 }
 .dvashDrink h1{
font-size: 20px;
 
 } 

 .dvashDrinksFact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .dvashDrinksFact h4{
  text-align: center;
 }

.accountSetup{
  
  margin-top: 30px;
}
/* .navContainer{
  width: 100%;
  padding: 0;
  background-color: blue;
  margin: 0;
  padding-top: 40px;
 } */
 .navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* flex-direction: column !important; */
  /* align-items: flex-start; */
}

 .faBarsIcon {
  display: block;
  cursor: pointer;
}
.theIcons{
  margin-left:20px;
}


}